<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Teraz trzeba szybko się ze mną skontaktować bo wolne terminy to jedyne czego nie mogę zagwarantować!</h2>
                <hr class="primary">
                <p>Śmiało pisz, dzwoń, sms'uj, whatsapp'uj:</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <https://www.facebook.com/{{ site.facebook_id }}">
                <i class="fa fa-facebook-official fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="tel:{{ site.telephone }}">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>{{ site.telephone }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://wa.me/{{ site.whatsapp_id }}?text=Mam%20zadanie%20do%20rozwiązania.%20Pilne.">
                <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".4s"></i>
                <p>WhatsApp</p>
            </a>
        </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="skype:{{ site.skype_id }}?chat">
                <i class="fa fa-skype fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p>Skype</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.youtube.com/channel/{{ site.youtube_channel_id }}">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p>{{ site.youtube_channel_name }}</p>
            </a>
        </div>
    </div>
</section>
