<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rozwiązywanie zadań z matematyki.</h1>
            <h2><a href="tel:{{ site.telephone }}">{{ site.email }}</a></h2>
            <hr>
            <p>Ekspresowe rozwiązywanie zadań z matematyki <b>do poziomu studiów włącznie.</b></p>
            <p>Wyślij zadania na <a href="mailto:{{ site.email }}>{{ site.email }}</a>, szybko dostaniesz wycenę.</p>
            <a href="mailto:{{ site.email }}>Wyślij zadania teraz!</a>
        </div>
    </div>
</header>
