<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rozwiązywanie zadań z matematyki.</h1>
            <h4>{{ page.subTitle }}<b>{{ page.suffixBold }}</b></h4>
            <hr>
            <h3><a href="mailto:{{ site.email }}">{{ site.email }}</a></h2>
            <hr>
            <h4>Potrzebujesz pomocy z matematyki?</h4>
            <h4>Wyślij zadania. Dostaniesz od nas wycenę.</h4>
            <hr>
            <a href="mailto:{{ site.email }}" class="btn btn-primary btn-xl">Wyślij zadania teraz!</a>
        </div>
    </div>
</header>
