<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rozwiązywanie zadań z matematyki.</h1>
            <h1><a class="navbar-brand" href="tel:{{ site.telephone }}">Zadzwoń: {{ site.telephone }}</a></h1>
            <hr>
            <p>Ekspresowe rozwiązywanie zadań z matematyki przez zawodowca z ogromnym doświadczeniem do poziomu studiów włącznie.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Wyślij zadania!</a>
        </div>
    </div>
</header>
