<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Jak to działa?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
                    <h3>1. Przygotuj zadania</h3>
                    <p class="text-muted">Zrób zdjęcie, skopiuj pdf, włóż do koperty</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>2. Wyślij do nas</h3>
                    <p class="text-muted">Jak ci wygodnie: sms, mms, e-mail, whatsapp, skype, messenger. Nie zapomnij zaznaczyć na kiedy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>3. Potwierdź wycenę</h3>
                    <p class="text-muted">Ekspresowo dostaniesz od nas wycenę. Ty decydujesz czy chcesz kontunuować!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>4. Ciesz się z rozwiązań</h3>
                    <p class="text-muted">W zadanym czasie dostajesz profesjonalnie wytłumaczone rozwiązania z komentarzami.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Wysyłam!</a>
            </div>
        </div>
    </div>
</section>
