<!DOCTYPE html>
<html lang="pl-PL">

{% include head.html %}

<body id="page-top">
  
  {% include nav.html %}
  {% include header.html %}
  {% include services.html %}
  {% include contact.html %}
  {% include scripts.html %}
  
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Rozwiązywanie zadań z matematyki",
    "url": "https://matmomat.pl",
    "address": "",
    "sameAs": [
      "https://www.facebook.com/zadaniaZmatematyki"
    ]
  }
  </script>
  
</body>

</html>
